.depoimentos {
    background: #000;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(0deg, #000000, #00000000 70%),
                linear-gradient(180deg, #000000, #00000000 70%);
        z-index: -1;
    }
}

.depoimentos-main {
    color: var(--color--white);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1420px;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    gap: 50px;
    padding: 5% 5% 0 5%;

    @media (max-width: 768px){    
        padding: 10% 5%;
    }

    & .depoimentos-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;

        & aside {
            width: 32%;
            padding: 20px;
            background-color: #000000;
            backdrop-filter: blur(5px);
            border-radius: 15px;    
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 15px;
            border: 2px dashed #ffffff20;
            box-shadow: 0 0 50px rgba(255, 0, 0, 0.1);

            @media (max-width: 768px){
                width: 100%;
            }

            & .depoimentos-person {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: auto;

                & picture {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                & div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 5px;

                    & h6 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        font-size: 18px;
                        font-weight: 400;

                        & svg {
                            width: 18px;
                            color: #0080FF;
                        }
                    }

                    & span {
                        font-size: 12px;
                        opacity: 0.6;
                        font-weight: 200;
                    }
                }
            }

            & p {
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}