.button-ig {
  cursor: pointer;
  border: none;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-content: center;
  transition:
    background 300ms,
    transform 200ms;
  font-weight: 600;
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;

  & > span {
    font-size: 12px;
    position: absolute;
    transform: rotate(calc(18deg * var(--index)));
    inset: 2px;
  }
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #212121;
  color: #dc2743;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button-ig:hover {
  background: #000;
  transform: scale(1.05);
}

.button-ig:hover .button__icon {
  color: #fff;
}

.button-ig:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button-ig:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}

.button-ig:active {
  transform: scale(0.95);
}